[submodule "lvgl"]
	path = lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "ejlv_builder"]
	path = ejlv_builder
	url = https://github.com/embj-org/ejlv_builder.git
[submodule "lv_port_linux"]
	path = lv_port_linux
	url = https://github.com/lvgl/lv_port_linux.git
